<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.springbootMybatis.mapper.CourseMapper">
    <resultMap id="BaseResultMap" type="com.hand.springbootMybatis.entity.Course">
        <result column="COURSE_NAME" property="courseName" />
        <result column="COURSE_NO" property="courseNo" />
        <result column="TEACHER_NO" property="teacherNo" />
    </resultMap>

    <!-- 表字段 -->
    <sql id="baseColumns">
        t.COURSE_NAME
        , t.COURSE_NO
        , t.TEACHER_NO
    </sql>

    <!-- 查询全部 -->
    <select id="listAll" resultMap="BaseResultMap">
        SELECT
        <include refid="baseColumns" />
        FROM hand_course t
    </select>

    <!-- 根据主键获取单条记录 -->
    <select id="getById" resultMap="BaseResultMap" parameterType="String">
        SELECT
        <include refid="baseColumns" />
        FROM hand_course t
        WHERE COURSE_NO = #{courseNo}
    </select>

    <!-- 插入全部字段 -->
    <insert id="insert" parameterType="com.hand.springbootMybatis.entity.Course"
            keyProperty="courseNo" keyColumn="COURSE_NO" useGeneratedKeys="true"
    >
        INSERT INTO hand_course
        <trim prefix="(" suffix=")" suffixOverrides=",">
            COURSE_NAME,
            COURSE_NO,
            TEACHER_NO,
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            #{courseName},
            #{courseNo},
            #{teacherNo},
        </trim>
    </insert>

    <!-- 插入不为NULL的字段 -->
    <insert id="insertIgnoreNull" parameterType="com.hand.springbootMybatis.entity.Course"
            keyProperty="courseNo" keyColumn="COURSE_NO" useGeneratedKeys="true"
    >
        INSERT INTO hand_course
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="courseName != null">
                COURSE_NAME,
            </if>
            <if test="courseNo != null">
                COURSE_NO,
            </if>
            <if test="teacherNo != null">
                TEACHER_NO,
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="courseName != null" >
                #{courseName},
            </if>
            <if test="courseNo != null" >
                #{courseNo},
            </if>
            <if test="teacherNo != null" >
                #{teacherNo},
            </if>
        </trim>
    </insert>

    <!-- 更新,更新全部字段 -->
    <update id="update" parameterType="com.hand.springbootMybatis.entity.Course">
        UPDATE hand_course
        <set>
            COURSE_NAME=#{courseName},
        </set>
        WHERE COURSE_NO = #{courseNo}
    </update>


    <!-- 更新不为NULL的字段 -->
    <update id="updateIgnoreNull" parameterType="com.hand.springbootMybatis.entity.Course">
        UPDATE hand_course
        <set>
            <if test="courseName != null" >
                COURSE_NAME=#{courseName},
            </if>
        </set>
        WHERE COURSE_NO = #{courseNo}
    </update>

    <!-- 根据主键删除记录 -->
    <delete id="delete" parameterType="com.hand.springbootMybatis.entity.Course">
        delete from hand_course
        WHERE COURSE_NO = #{courseNo}
    </delete>

</mapper>